##  Exhaust fan - FAN3
[fan_generic exhaust_fan]
pin: PA8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0

# [delayed_gcode exhaustfanloop]
# initial_duration: 5.0
# gcode:
#     {% if printer.idle_timeout.state == "Printing" %}
#       {% set chamber = printer["temperature_sensor chamber_temp"] %}
#       {% if chamber.temperature > 80 %}
#           SET_FAN_SPEED FAN=exhaust_fan SPEED=1
#       {% else %}
#           SET_FAN_SPEED FAN=exhaust_fan SPEED=0
#       {% endif %}
#     {% endif %}
#     UPDATE_DELAYED_GCODE ID=exhaustfanloop DURATION=5